name: Build
on:
  push:
  pull_request:

jobs:
  build:
    name: "Compile on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: true 

    - name: Compile Project
      uses: 4d/tool4d-action@v2
      with:
        project: "${{ github.workspace }}/CompilerProject/Project/CompilerProject.4DProject"
        startup-method: compileProject
        product-line: vcs
        version: vcs
        build: official
        token: ${{ secrets.DLTK }}
